<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Registration form</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav th:replace="~{navbar}"></nav>

<div class="container">
  <div>
    <h1 class="display-5" th:text="#{registration.header}"></h1>
    <hr>
  </div>
  <div>
    <form th:action="@{/registration}" th:object="${user}" method="post">
      <div class="form-row">
        <div class="col-md-4 mb-4">
          <label>
            <span th:text="#{registration.email.label}"></span>
            <input type="text"
                   th:field="*{email}"
                   th:placeholder="#{registration.email.placeholder}"
                   class="form-control"/>
          </label>
        </div>
        <div class="col-md-4 mb-4">
          <label>
            <span th:text="#{registration.password.label}"></span>
            <input type="password"
                   th:field="*{password}"
                   th:placeholder="#{registration.password.placeholder}"
                   class="form-control"/>
          </label>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-4 mb-4">
          <label>
            <span th:text="#{registration.full_name.label}"></span>
            <input type="text"
                   th:field="*{fullName}"
                   th:placeholder="#{registration.full_name.placeholder}"
                   class="form-control"/>
          </label>
        </div>

      </div>
      <button type="submit" class="btn btn-primary" th:text="#{button.sign_up}">Sign up</button>
    </form>
  </div>

</body>
</html>