<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Registration form</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav th:replace="~{navbar}"></nav>

<style>
  .container-fluid {
    align-items: center;
    justify-content: center;
    display: flex;
    align-self: stretch;
  }
</style>

<div class="container-fluid">
  <div>
    <div class="row" style="justify-content: center">
      <h1 th:text="#{registration.header}"></h1>
    </div>
    <hr>
    <div>
      <form th:action="@{/registration}" th:object="${user}" method="post">

        <div>
          <label>
            <span th:text="#{registration.email.label}"></span>
            <input type="text"
                   th:field="*{email}"
                   th:placeholder="#{registration.email.placeholder}"
                   class="form-control"/>
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                  class="text-danger"></span>
          </label>
        </div>
        <div>
          <label>
            <span th:text="#{registration.password.label}"></span>
            <input type="password"
                   th:field="*{password}"
                   th:placeholder="#{registration.password.placeholder}"
                   class="form-control"/>
            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                  class="text-danger"></span>
          </label>
        </div>


        <div>
          <label>
            <span th:text="#{registration.fullname.label}"></span>
            <input type="text"
                   th:field="*{fullName}"
                   th:placeholder="#{registration.fullname.placeholder}"
                   class="form-control"/>
            <span th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"
                  class="text-danger"></span>
          </label>
        </div>

        <div class="row" style="justify-content: center">
          <button type="submit" class="btn btn-primary" style="margin-top: 20px" th:text="#{button.sign_up}"></button>
        </div>
      </form>
    </div>
  </div>

</body>
</html>