<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Update user</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav th:replace="~{navbar}"></nav>
<style>
    .container-fluid {
        align-items: center;
        justify-content: center;
        display: flex;
        align-self: stretch;
    }
</style>
<div class="container-fluid">
    <div>
        <div>
            <div class="row" style="justify-content: center">
                <h2 th:text="#{users.update.title}"></h2>
            </div>
            <hr>
            <form action="#" method="post" th:action="@{/users/update/{id}(id=${user.id})}" th:object="${user}">

                <div>
                    <label>
                        <span th:text="#{users.update.email.label}"></span>
                        <input type="text"
                               th:field="*{email}"
                               th:placeholder="#{users.update.email.placeholder}"
                               class="form-control"/>
                        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                              class="text-danger"></span>
                    </label>
                </div>
                <div>
                    <label>
                        <span for="password" th:text="#{users.update.password.label}"></span>
                        <input class="form-control" id="password" name="password" type="password"
                               th:placeholder="#{users.update.password.placeholder}">
                        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                              class="text-danger"></span>
                    </label>
                </div>

                <div>
                    <label>
                        <span th:text="#{users.update.fullname.label}"></span>
                        <input type="text"
                               th:field="*{fullName}"
                               th:placeholder="#{users.update.fullname.placeholder}"
                               class="form-control"/>
                        <span th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"
                              class="text-danger"></span>
                    </label>
                </div>
                <div class="container-fluid" style="justify-content: center">
                    <ul>
                        <li th:each="role : ${roles}">
                            <input type="checkbox" class="form-check-input check" th:field="*{role}"
                                   th:value="${role}"/>
                            <label th:for="${#ids.prev('role')}" class="form-check-label"
                                   th:text="${role}"></label>
                        </li>
                    </ul>
                </div>

                <div class="row" style="justify-content: center">

                    <input class="btn btn-primary" th:value="#{users.update.button.submit}" type="submit">

                </div>

            </form>
        </div>
    </div>
</div>


<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $('.check').click(function() {
            $('.check').not(this).prop('checked', false);
        });
    });
</script>
</body>
</html>